.input{
    padding: 5px;
    color:#999;
    box-sizing: border-box;
    border: 1px solid #cccccc;

}
.input.big{
    padding: 10px;
    font-size:18px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2.5px;
 }