body{
	background:#FFF;
	margin:0;
	font-family:"arial";
}
*{
	box-sizing:border-box;
}
h1,h2,h3,h4,h5{
	color:#006266;
}
.container{
	width:90%;
	margin:auto;
}
.border-tes{
	border:1px solid #CCCCCC;
}

.content{
 	height:50vh;
	display:flex;
	align-content:center;
}
.content .container{
	display:flex;
	justify-content:center;
	flex-wrap: wrap;
}
.content .row{
	width:60%;
}
 

@media(max-width:720px){
	.content .row{
		width:100%;
	}
}